:root{
    --button-color:rgba(243, 87, 87, 0.925);
    background: linear-gradient(45deg, #EA5C54  , #742da0 );
}
html{
    height: auto;
    min-height: 100%;
}
body{
    height: auto;
    min-height: 100%;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.wrapper{
    height: 500px;
    width: 300px;
    background: linear-gradient(45deg,  #35394a 0%, #1f222e 100%);
    border: 0.5px solid rgba(214, 62, 62, 0.863);
    border-radius: 5px;
    margin-top: 80px;
    
    
}

#accInfo{
    color: aliceblue;
}

#seperator{
    border-top: 3px solid #bbb;
}

#accActions{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

#accActions button, #confirmBtn{
    background:#00000000;
    border-radius: 30px;
    margin-top: 20px;
    padding: 5px;
    border: 1px solid ;
    width: 80%;
    color: rgba(243, 57, 32, 0.815);
    color: var(--button-color);
    outline: none;
    font-size: 15px
}

#accActions button:hover, #confirmBtn:hover{
    border: 1px solid ;
    border-color: var(--button-color);
    background: var(--button-color);
    color: aliceblue;
}

#messageSpn{
    color: aliceblue;
}

#accInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

#accActionInput input{
    height: 30px;
    width: 295px;
    box-shadow: 0px 10px 20px 2px rgba(46, 45, 45, 0.55);
    background: linear-gradient(45deg,  #2b2c2e 0%, #363b4e 100%);
    border: none;
    border-bottom: 0.2px solid rgba(186, 168, 235, 0.247);
    color: aliceblue;
    outline: none;
   
}

#accActionInput{
   
}


