:root{
    --button-color:rgba(243, 87, 87, 0.925);
}

h1{
    color: rgba(7, 24, 71, 0.822);
    text-align: center;
}

html{
    height: auto;
    min-height: 100%;
}

body{
    height: auto;
    min-height: 100%;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-image: linear-gradient(#eb1dbed0 , #e78888e0  );*/
    background: linear-gradient(-45deg,  #EA5C54  0%, #bb6dec 100%);
}

.login-form{
    /*background: linear-gradient(45deg,  #181a20 ,#2f47a0fb );*/
    background: linear-gradient(45deg,  #35394a 0%, #1f222e 100%);
    border: 0.5px solid rgba(214, 62, 62, 0.863);
    height: 300px;
    width: 200px;
}

#inptForm{
    
    margin-bottom: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#inptForm p{
    
    color: aliceblue;
}

#buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top:10px;
    outline: none;
}
#buttons button{
    background:#00000000;
    border-radius: 30px;
    margin-top: 20px;
    padding: 5px;
    border: 1px solid ;
    width: 80%;
    color: rgba(243, 57, 32, 0.815);
    color: var(--button-color);
    outline: none;
    font-size: 10px
    
}
#buttons button:hover{
    border: 1px solid ;
    border-color: var(--button-color);
    background: var(--button-color);
    color: aliceblue;
}
#nameInpt, #pswdInpt, #emailInpt{
    
    height: 25px;
    width: 195px;
    box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
    background: linear-gradient(45deg,  #35394a 0%, #1f222e 100%);
    /*background: linear-gradient(to left ,#7d90e648 10%, #1e2952 );*/
    border: none;
    border-bottom: 0.2px solid rgba(186, 168, 235, 0.247);
    
    color: aliceblue;
}

#nameInpt:focus, #pswdInpt:focus, #emailInpt{
    outline: none;
}
#username p, #password p{
    /*border: 1px green solid ;*/
    
    
}

